@import '../../scss/reset.scss', '../../scss/variables.scss',
  '../../scss/templates.scss';

.inputWrapper {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  .input {
    @extend %input;
  }

  .redInput {
    @extend %redInput;
  }

  .icons {
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      @extend %icon;
    }
  }
}
