@import '../../scss/reset.scss', '../../scss/variables.scss',
  '../../scss/templates.scss';

@keyframes spin {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0);
  }
}

.loginBlock {
  padding: 20px;
  width: 420px;
  text-align: center;
  background-color: #fff;
  font-weight: 400;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
  justify-content: center;

  .title {
    margin: 0;
    font-size: 28px;
    font-weight: 500;
  }

  .warning {
    margin: 0;
    color: $warning-color;
    font-size: 22px;
    font-weight: 400;
  }

  .form {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;

    .inputs {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      align-items: center;

      .inputWrapper {
        position: relative;
        width: 100%;

        .input {
          @extend %input;
        }

        .eye {
          @extend %icon;
          position: absolute;
          top: 13px;
          right: 52px;
        }

        .cross {
          @extend %icon;
          position: absolute;
          top: 13px;
          right: 26px;
          animation: spin 0.5s ease-in-out 1;
        }
      }
    }

    .button {
      width: 200px;
      height: 55px;
      border: 2px solid transparent;
      border-radius: 10px;
      background-color: $button-bg-color;
      font-size: 20px;
      font-weight: 400;
      cursor: pointer;
      color: #fff;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: $button-hover-color;
        border: 2px solid $button-bg-color;
        color: #000;
      }

      &:active {
        position: relative;
        top: 1px;
      }
    }
  }
}

.redInput {
  @extend %input;
  border: 2px solid $warning-color;
}

@media (max-width: 450px) {
  .authorizationBlock {
    .form {
      .inputs {
        .inputWrapper {
          .eye {
            top: 11px;
            right: 54px;
          }

          .cross {
            top: 11px;
            right: 26px;
            animation: unset;
          }

          svg {
            width: 35px;
            height: 35px;
          }
        }
      }

      button {
        width: 100%;
      }
    }
  }
}
