@import '../../scss/reset.scss', '../../scss/variables.scss',
  '../../scss/templates.scss';

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  @extend %wrapper;

  .content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 20px;

    .additionalInfo {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 20px;
      height: 100%;

      .tariffBlockLoading {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        background-color: #fff;
        border-radius: 25px;
        box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.08);
      }

      .presentationBlockLoading {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        background-color: #fff;
        border-radius: 25px;
        box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.08);
      }
    }

    .informationBlockLoading {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      border-radius: 25px;
      box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.08);
      height: 100%;
    }

    .loadingIcon {
      animation: spin 1s linear infinite;
    }
  }
}
