@import '../../scss/reset.scss', '../../scss/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  row-gap: 20px;

  .content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 20px;

    .additionalInfo {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 20px;
      height: 100%;
    }
  }
}
