* {
  box-sizing: border-box;
}

@keyframes spin {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0);
  }
}

%icon {
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #d6d6d6;
  }
}

.authorizationBlock {
  text-align: center;
  max-width: 800px;
  height: 600px;
  padding: 60px;
  border-radius: 20px;
  border: 1px solid #b4b4b4;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;

  h1 {
    font-size: 32px;
    font-weight: 700;
  }

  form {
    display: flex;
    flex-direction: column;
    row-gap: 71px;
    align-items: center;

    label {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 10px;

      span {
        font-size: 20px;
        font-weight: 500;
        color: #7c838a;
      }

      input {
        padding: 17px 90px 18px 40px;
        width: 600px;
        height: 65px;
        border: none;
        border-radius: 20px;
        background: rgba(176, 186, 195, 0.4);

        color: rgba(0, 0, 0, 0.5);
        font-size: 20px;
        font-weight: 400;

        &:focus {
          outline: none;
        }
      }

      .eye {
        @extend %icon;
        position: absolute;
        top: 51px;
        right: 52px;
      }

      .cross {
        @extend %icon;
        position: absolute;
        top: 51px;
        right: 26px;
        animation: spin 0.5s ease-in-out 1;
      }
    }

    button {
      width: 340px;
      height: 60px;
      border: none;
      border-radius: 10px;
      background-color: #f9ed32;
      font-size: 26px;
      font-weight: 700;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: #f2d335;
      }

      &:active {
        position: relative;
        top: 1px;
      }
    }
  }
}
