@import '../../scss/reset.scss', '../../scss/variables.scss',
  '../../scss/templates.scss';

.wrapper {
  @extend %wrapper;

  .content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 20px;

    .additionalInfo {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 20px;
      height: 100%;
    }

    .loadingBanner {
      @extend %loadingBanner;
    }
  }
}
