@import '../../scss/reset.scss', '../../scss/variables.scss',
  '../../scss/templates.scss';

.informationBlock {
  padding: 20px;
  width: 100%;
  height: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;

  h2 {
    margin: 0;
    padding: 0;
  }

  .data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 20px;
    overflow: hidden;

    .rows {
      padding: 10px;
      overflow-y: auto;

      .inputWrapper {
        width: 500px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .property {
          font-size: 20px;
          &:last-child {
            text-align: right;
          }

          &.editable {
            color: $accent-color;
          }
        }

        .value {
          font-size: 20px;
          &:last-child {
            text-align: right;
          }

          &.editable {
            color: $accent-color;
            cursor: pointer;
          }
        }

        .editing {
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 10px;
          height: 55px;

          label {
            width: 200px;

            input {
              padding-right: 45px;
              width: 100%;
            }
            svg {
              right: 20px;
            }
          }

          button {
            display: grid;
          }
        }
      }
    }

    button {
      display: none;
    }
  }
}

@media (max-width: 950px) {
  .informationBlock {
    .data {
      .rows {
        max-height: 210px;
        .inputWrapper {
          width: 300px;

          .editing {
            .input {
              width: 150px;
            }

            button {
              display: none;
            }
          }
        }
      }

      button {
        display: grid;
      }
    }
  }
}
