@import '../../scss/reset.scss', '../../scss/variables.scss';

@keyframes moveRight {
  0% {
    transform: translateX(-225px);
    display: none;
  }

  100% {
    transform: translateX(0);
    display: block;
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
    display: block;
  }

  100% {
    transform: translateX(-225px);
    display: none;
  }
}

@keyframes addDarkness {
  0% {
    background-color: unset;
    display: flex;
  }

  100% {
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
  }
}

@keyframes removeDarkness {
  0% {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
  }

  100% {
    background-color: unset;
    display: none;
  }
}

.darkBackground {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: absolute;
}

.menu {
  padding: 10px 0;
  width: 225px;
  height: 100%;
  color: #ababab;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  .pages {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    background-color: #fff;
    border-radius: 0 25px 25px 0;

    span {
      width: 85px;
    }

    ._active {
      border: 1px solid #e1e8ff;
      color: rgba(0, 60, 255, 1);

      svg {
        fill: rgba(0, 60, 255, 1);
        border-radius: 5px;
        background-color: rgba(225, 232, 255, 1);
      }
    }
  }
}

.opened {
  animation: moveRight 0.5s ease-in-out 1;
  display: block;
}

.closed {
  animation: moveLeft 0.5s ease-in-out 1;
  display: none;
}

.show {
  animation: addDarkness 0.5s ease-in-out 1;
  display: flex;
}

.hide {
  animation: removeDarkness 0.5s ease-in-out 1;
  display: none;
}
