@import '../../scss/reset.scss', '../../scss/variables.scss';

.userRow {
  td {
    word-wrap: break-word;
    text-align: center;
  }

  .passwordIcon {
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: rgba(222, 239, 255, 0.575);
    }
  }
}
