@import '../../scss/reset.scss', '../../scss/variables.scss';

.button {
  padding: 10px;
  width: 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: flex-end;
  align-items: center;
  transition: border 0.3s ease-in-out, color 0.3s ease-in-out,
    fill 10s ease-in-out;
  border: 1px solid transparent;
  border-radius: 12px;
  cursor: pointer;
  background-color: #fff;
  color: #ababab;
  font-family: 'Nunito', sans-serif;
  text-align: right;
  svg {
    padding: 4px;
    margin: 0 auto 0 0;
    transition: fill 0.3s ease-in-out;
  }

  &:hover {
    &:not(._active) {
      border-color: #e1e8ff;
      color: rgba(0, 60, 255, 0.5);

      svg {
        fill: rgba(225, 232, 255, 0.5);
      }
    }
  }

  span {
    width: 85px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &[location='menu'] {
    width: 170px;
  }
}

._active {
  border: 1px solid #e1e8ff;
  color: rgba(0, 60, 255, 1);

  svg {
    fill: rgba(0, 60, 255, 1);
    border-radius: 5px;
    background-color: rgba(225, 232, 255, 1);
  }
}
