@import '../../scss/reset.scss', '../../scss/variables.scss';

.tariffBlock {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  background-color: #fff;
  border-radius: 20px;

  h2 {
    margin: 0;
    padding: 0;
  }
}
