@import '../../scss/reset.scss', '../../scss/variables.scss';

.tableRow {
  transition: background-color 0.2s ease-in-out;
  display: table;
  width: 100%;
  table-layout: fixed;
  height: 10%;

  .checkbox {
    width: 30px;
    height: 30px;

    input {
      width: 15px;
      height: 15px;
      accent-color: $accent-color;
      cursor: pointer;
    }
  }

  td {
    word-wrap: break-word;
    text-align: center;
  }

  &:hover {
    background: rgba(225, 232, 255, 1);
    cursor: pointer;
  }
}
