@import '../../scss/reset.scss', '../../scss/variables.scss';

.header {
  height: 70px;
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;

  .menuButton {
    position: relative;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $button-bg-color;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
  }
}
