@import '../../scss/reset.scss', '../../scss/variables.scss';

.usersTable {
  margin: 245px 0 0 250px;
  width: $users-width;
  height: 800px;
  position: fixed;
  box-shadow: 0px 5px 25px #0002;
  border-radius: 25px;
  padding: 20px;

  td {
    padding: 10px;
  }
}
