@import '../../scss/reset.scss', '../../scss/variables.scss';

@keyframes spin {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0);
  }
}

%icon {
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: rgba(222, 239, 255, 0.575);
  }
}

label {
  position: relative;

  .search {
    padding: 17px 90px 18px 55px;
    width: 450px;
    height: 52px;
    border-radius: 15px;
    border: none;
    background: rgba(225, 232, 255, 1);
    opacity: 0.5;
    font-size: 20px;
    font-weight: 400;

    position: relative;

    &:focus {
      outline: none;
    }
  }

  .searchIcon {
    @extend %icon;
    position: absolute;
    top: 12px;
    left: 15px;
  }

  .cross {
    @extend %icon;
    position: absolute;
    top: 12px;
    right: 26px;
    animation: spin 0.5s ease-in-out 1;
  }
}
